<div id='wrapper'>
	<div id='avatar'> 
        <span class='webix_icon fa-user-circle icon-avatar'></span>
    </div>
    <div>
        {{firstName}} {{lastName}}
        <div>{{email}}</div>
    </div>
</div>