<div id='info-header'>
    <div id='title'>
        <h1 style='padding-left:18px; min-height: 40px;'>{{title}}</h1>
        <h2 style='padding-left:18px; min-height: 40px;'>{{author}}</h2>
        <br>
	</div>
</div>	